@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./fonts/fonts.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  overflow: hidden;
}
.list-item-lg {
  @apply capitalize text-darkGrayishBlue relative transition-all  duration-700 after:duration-1000 after:transition-all 
  hover:text-black hover:after:content-[""] hover:after:h-1 hover:after:w-full hover:after:bg-Orange hover:after:left-0 hover:after:absolute hover:after:top-[50px] hover:after:rounded-sm;
}
.list-item-sm {
  @apply capitalize p-4 text-darkGrayishBlue relative transition-all  duration-700 after:duration-1000 after:transition-all 
  hover:text-black hover:after:content-[""] hover:after:h-[3px] hover:after:w-full hover:after:bg-Orange hover:after:left-0 hover:after:absolute hover:after:top-[40px] hover:after:rounded-sm;
}
.price-discount {
  @apply font-bold text-2xl tracking-wider mb-4 relative inline-block;
}

.counter-btn {
  @apply h-4 p-6 bg-grayishBlue leading-4 flex justify-center items-center;
}

.thum {
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
}

.thum.active::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.527);
  top: 0;
  left: 0;
  overflow: hidden;
  border: 3px solid hsl(26, 100%, 55%);
  border-radius: 14px;
  cursor: pointer;
  transition: all 0.5s;
}

.bubble-number {
  @apply w-3 h-3 rounded-full bg-Orange absolute text-sm font-bold flex justify-center items-center text-gray-200 left-[28px] bottom-[30px] p-2;
}

.nav-btn {
  @apply absolute top-[35%] p-8 w-4 h-4 rounded-full bg-lightGrayishBlue   border border-Orange cursor-pointer grid justify-center content-center;
}

.nav-btn-sm {
  @apply absolute top-[50%] p-6 w-2 h-2 rounded-full  border border-Orange cursor-pointer grid justify-center content-center;
}
.close-btn {
  @apply absolute  p-6 top-[5%] right-[20%] -translate-y-full translate-x-full w-3 h-3 rounded-full  cursor-pointer;
}
.rounded-full.active {
  border: 2px solid orange;
}
